@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: "PingFang SC";
    src: url("@/assets/font/NotoSansMath-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */
