[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = "*"
pydantic = "*"
bs4 = "*"
pymysql = "*"
uvicorn = "*"
httpx = "*"
requests = "*"

[dev-packages]
pyright = "*"

[requires]
python_version = "3.9"
